<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" ng-app="RideApp">

<head>
    <meta charset="UTF-8">
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <title>g36lru</title>
    <meta name="DC.title" content="g36lru">
    <meta property="og:title" content="g36lru">
    <meta property="og:image" content="https://froont.com/marutinsu/9sb0mk/_screenshots/images/thumbnail/1700_1423732411.png_1500x1500.jpeg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FROONT">
    <meta name="DC.language" scheme="ISO639-1" content="en">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
     <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/noframework.waypoints.min.js"></script>
    <script type="text/javascript" src="vendor/responsive-nav.min.js"></script>
    <script type="text/javascript" src="vendor/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="js/form-submit.js"></script>
    <script type="text/javascript" src="js/reveal-animation.js"></script>
    <script type="text/javascript" src="js/background-parallax.js"></script>
    <script type="text/javascript" src="js/page-script.js"></script>
    <script type="text/javascript">
        var fonts = {
            "Open Sans": {
                "family": "Open Sans",
                "source": "google",
                "subsets": [
                    "cyrillic",
                    "cyrillic-ext",
                    "greek",
                    "greek-ext",
                    "latin",
                    "latin-ext",
                    "vietnamese"
                ],
                "variants": [
                    "300",
                    "300italic",
                    "600",
                    "600italic",
                    "700",
                    "700italic",
                    "800",
                    "800italic",
                    "italic",
                    "regular"
                ]
            },
            "Oxygen": {
                "family": "Oxygen",
                "source": "google",
                "subsets": [
                    "latin",
                    "latin-ext"
                ],
                "variants": [
                    "300",
                    "700",
                    "regular"
                ]
            },
            "brandon-grotesque": {
                "css_name": "brandon-grotesque",
                "family": "Brandon Grotesque",
                "id": "yvxn",
                "source": "typekit",
                "stack": "sans-serif",
                "variants": [
                    "n1",
                    "i1",
                    "n3",
                    "i3",
                    "n4",
                    "i4",
                    "n5",
                    "i5",
                    "n7",
                    "i7",
                    "n9",
                    "i9"
                ]
            }
        };
    </script>
    <script type="text/javascript" src="vendor/webfont.js"></script>
    <script type="text/javascript" src="js/fontloader.js"></script>
    <!-- Replace code below with your typekit kit's embed code -->
    <script type="text/javascript" src='//use.typekit.net/ik/Lkir5OEDnuT9slWGXFr1yjpXq4r0QWXbCKrs2_Afd6wfeztgf5aoHsJmFR6awDbUWhFGjAuTdeIlZDwhdY4ueqFcScNzd1b0jhNlOYs8Sab0Z14zdhoXOcFzdPUCdhFydfuqZWj0Z14zdhoXOcFzdP3UwRS0wft3ORICdeNRjAUGdaFXJyBKScB0ZeN0OAikdas8SaBuZPG4fOTbIMMjMPMfH6qJ0uMbMg6OJMJ7fbKv9gMMeMw6MKG4fOubIMMj2PMfH6qJl8MbMg6IJMJ7fbKa9gMMeMt6MKG4fOobIMMjgPMfH6qJzuMbMg6VJMJ7fbKt9gMMeMS6MKG4fO8bIMMjIPMfH6qJ3BMbMg64JMJ7fbRg9gMMegw6MTMgtzKU769.js'></script>
    <script type="text/javascript">
        try {
            Typekit.load();
        } catch (e) {}
    </script>
    <!-- End of typekit code -->
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   
           
    <div class="b-content">
        <div id="fr_54747f3dd775ef1a360001a2" class="fr-widget fr-container fr_murose">
            <div id="fr_54747f65d775ef1a360001a6" class="fr-widget fr-grid fr_jagefe">
                <a id="fr_547774ea7976d87281000029" class="fr-widget fr-text fr-wf fr_sujapi fr-widget-hover-opacity-60 fr-link" href="#/">
                    <div class="fr-text">Home</div>
                </a><!--
             --><a id="fr_547774e07976d87281000024" class="fr-widget fr-text fr-wf fr_cilidu fr-widget-hover-opacity-60 fr-link" href="#/second">
                    <div class="fr-text">Features</div>
                </a><!--
             --><a id="fr_547774d67976d8728100001f" class="fr-widget fr-text fr-wf fr_weneto fr-widget-hover-opacity-60 fr-link" href="#fr_5475f7667976d8501100000f">
                    <div class="fr-text">Help&nbsp;</div>
                </a><!--
             --><a id="fr_5474fcb97976d812f2000036" class="fr-widget fr-text fr-wf fr_hohoni fr-widget-hover-opacity-60 fr-link" href="#fr_54747661d775ef1a3600009e">
                    <div class="fr-text">Sign Up</div>
                </a><!--
             --><a id="fr_54775ef27976d8728100000f" class="fr-widget fr-text fr-wf fr_sinagu fr-widget-hover-opacity-60 fr-link" href="#fr_5475fe8b7976d85011000046">
                    <div class="fr-text">Login</div>
                </a><!--
             --><div id="fr_5477761b7976d87281000032" class="fr-widget fr-html fr-wf fr_kopiso">
                    <div class="fb-like" data-href="https://www.facebook.com/ReContact.co" data-width="70" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>
            </div><!--
         --><div id="fr_554c7a27cb539756d9000117" class="fr-widget fr-text fr-wf fr_benefitstitle">
                <div class="fr-text">F L E E T S Y N C</div>
            </div>
        </div><!--
     -->
   
     <div id="fr_54745c8bd775ef4b99000011" class="fr-widget fr-container fr_fixed_header">
            <div id="fr_554c77f5cb539756d90000ea" class="fr-widget fr-slideshow swiper-container fr_slideshow" data-slideshow-autoplay="3000" data-slideshow-dots="true">
                <div class="swiper-wrapper"></div><!--
             --><div id="fr_554c77f5cb539756d90000f6" class="fr-widget fr-img fr_left_arrow">
                    <img src="images/thumbnail/arrow-left.png_70x80.png" />
                </div><!--
             --><div id="fr_554c77f5cb539756d90000f4" class="fr-widget fr-img fr_right_arrow">
                    <img src="images/thumbnail/arrow-right.png_70x80.png" />
                </div><!--
             --><div id="fr_554c77f5cb539756d90000f2" class="fr-widget fr-container fr_slide_1">
                    <div id="fr_554c92d8cb5397470200009b" class="fr-widget fr-text fr-wf fr_paragraph_center_9">
                        <div class="fr-text">GETTING MORE</div>
                    </div><!--
                 --><div id="fr_554c93a0cb539747020000a0" class="fr-widget fr-text fr-wf fr_paragraph_center_10">
                        <div class="fr-text">Time, value, and convenience — you can have it all</div>
                    </div>
                </div><!--
             --><div id="fr_554c77f5cb539756d90000f0" class="fr-widget fr-container fr_slide_2">
                    <div id="fr_554c8de8cb5397470200006d" class="fr-widget fr-text fr-wf fr_paragraph_center_3">
                        <div class="fr-text">SHARE YOUR EXPERIENCES</div>
                    </div><!--
                 --><div id="fr_554c8f2ecb53974702000077" class="fr-widget fr-text fr-wf fr_paragraph_center_4">
                        <div class="fr-text">Have more fun with the people who matter most</div>
                    </div>
                </div><!--
             --><div id="fr_554c7975cb539756d900010b" class="fr-widget fr-container fr_slide">
                    <div id="fr_554c9047cb53974702000086" class="fr-widget fr-text fr-wf fr_paragraph_center_5">
                        <div class="fr-text">TREATING YOUR SELF</div>
                    </div><!--
                 --><div id="fr_554c90e3cb5397470200008b" class="fr-widget fr-text fr-wf fr_paragraph_center_6">
                        <div class="fr-text">Step it up when you step out for a big night</div>
                    </div>
                </div><!--
             --><div id="fr_554c7994cb539756d900010f" class="fr-widget fr-container fr_slide_3">
                    <div id="fr_554c91c8cb53974702000090" class="fr-widget fr-text fr-wf fr_paragraph_center_7">
                        <div class="fr-text">CREATING ESCAPES
                            <br>
                        </div>
                    </div><!--
                 --><div id="fr_554c9284cb53974702000096" class="fr-widget fr-text fr-wf fr_paragraph_center_8">
                        <div class="fr-text">Your shortcut to every where is arriving now</div>
                    </div>
                </div>
                <div class="fr-slideshow-dots" style="display:block;">
                    <span class="swiper-pagination-switch swiper-active-switch"></span>
                    <span class="swiper-pagination-switch"></span>
                    <span class="swiper-pagination-switch"></span>
                    <span class="swiper-pagination-switch"></span>
                </div>
            </div>
            <script>
                (function() {
                    'use strict';
                    var $that = $(this);

                    $(window).on(
                        'scroll',
                        function() {
                            $that.css('top', -window.scrollY * 0.2 + 'px');
                        }
                    );
                }).call(document.getElementsByClassName('fr_fixed_header')[0]);
            </script>
        </div><!--
     --><div id="fr_54747361d775ef1a3600000f" class="fr-widget fr-container fr_wigihi">
            <div id="fr_54747361d775ef1a3600001e" class="fr-widget fr-text fr-wf fr_woveso">
                <div class="fr-text">OPTIONS</div>
            </div><!--
         --><div id="fr_54747361d775ef1a3600001a" class="fr-widget fr-text fr-wf fr_bofude">
                <div class="fr-text">CHOICE IS A BEAUTIFUL THING
                    <br>Get a ride that matches your style and budget</div>
            </div><!--
         --><div id="fr_554c82a2cb539713e6000104" class="fr-widget fr-text fr-wf fr_textcake">
                <div class="fr-text">
                    <div>
                        <br>
                    </div>
                    <div>SAVE YOUR PRECIOUS TIME&nbsp;
                        <br>
                    </div>
                </div>
            </div><!--
         --><div id="fr_554c83e0cb539713e6000110" class="fr-widget fr-text fr-wf fr_texttopics">
                <div class="fr-text">
                    <div>CONTACT US
                        <br>
                    </div>
                    <div>
                        <span style="color: rgb(0, 0, 0); font-family: brandon-grotesque; font-size: 12px; font-weight: 600; letter-spacing: 2.40000009536743px; line-height: 19.2000007629395px; background-color: rgb(240, 234, 234);">
                            <br>
                        </span>
                    </div>
                </div>
            </div><!--
         --><a id="fr_554c7c55cb539756d900011f" class="fr-widget fr-text fr-wf fr_button_3 fr-widget-hover-opacity-60 fr-link">
                <div class="fr-text">BOOK NOW</div>
            </a><!--
         --><a id="fr_554c7f34cb539713e60000bb" class="fr-widget fr-text fr-wf fr_button_4 fr-widget-hover-opacity-60 fr-link">
                <div class="fr-text">BOOK NOW</div>
            </a><!--
         --><a id="fr_554c7f58cb539713e60000ef" class="fr-widget fr-text fr-wf fr_button_5 fr-widget-hover-opacity-60 fr-link">
                <div class="fr-text">CONTACT</div>
            </a><!--
         --><div id="fr_54747361d775ef1a36000013" class="fr-widget fr-grid fr_rewoli">
                <div id="fr_54747361d775ef1a3600002a" class="fr-widget fr-container fr_higude">
                    <div id="fr_54747362d775ef1a3600007c" class="fr-widget fr-text fr-wf fr_wubese">
                        <div class="fr-text">WANT YOUR OWN RIDE&nbsp;</div>
                    </div>
                </div><!--
             --><div id="fr_54747361d775ef1a36000026" class="fr-widget fr-container fr_sefuwe">
                    <div id="fr_54747362d775ef1a36000058" class="fr-widget fr-text fr-wf fr_nijapo">
                        <div class="fr-text">WANT A SHARED RIDE</div>
                    </div><!--
                 --><div id="fr_554c838fcb539713e600010b" class="fr-widget fr-text fr-wf fr_textpresent">
                        <div class="fr-text">
                            <div>
                                <span style="font-size: 16px; letter-spacing: 3.20000004768372px;">SAVE YOUR BUDGET AND TIME</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div><!--
             --><div id="fr_54747361d775ef1a36000022" class="fr-widget fr-container fr_vumore">
                    <div id="fr_54747361d775ef1a36000034" class="fr-widget fr-text fr-wf fr_ganudu">
                        <div class="fr-text">
                            <div>CALL US</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--
     --><div id="fr_54760baa7976d83acd000013" class="fr-widget fr-container fr_pudale">
        </div><!--
     --><div id="fr_5475f7667976d8501100000f" class="fr-widget fr-container fr_namivo">
            <div id="fr_554c8628cb539713e6000115" class="fr-widget fr-text fr-wf fr_benefitstitle_2">
                <div class="fr-text">FEATURES</div>
            </div><!--
         --><div id="fr_5475f7667976d8501100001a" class="fr-widget fr-text fr-wf fr_lojovo">
                <div class="fr-text">THE FLEET SYNC APP
                    <br>Request, ride, and pay via your mobile phone
                    <br>
                    <br>DOWNLOAD NOW</div>
            </div>
        </div><!--
     --><div id="fr_547479c8d775ef1a36000108" class="fr-widget fr-container fr_pukolo">
        </div><!--
     --><div id="fr_54747661d775ef1a3600009e" class="fr-widget fr-container fr_temibe">
            <div id="fr_554c8727cb539713e600011a" class="fr-widget fr-text fr-wf fr_benefitstitle_3">
                <div class="fr-text">LOCATIONS</div>
            </div><!--
         --><div id="fr_547629d27976d849b9000011" class="fr-widget fr-text fr-wf fr_terufu">
                <div class="fr-text">Avaliable Locally</div>
            </div><!--
         --><div id="fr_5476109a7976d83acd000017" class="fr-widget fr-img fr_vuwume">
                <img src="images/thumbnail/9.gif_1440x718.gif" />
            </div><!--
         --><div id="fr_554c87eacb539713e600011f" class="fr-widget fr-text fr-wf fr_paragraph_center">
                <div class="fr-text">
                    <div>
                        <br>
                    </div>
                    <div>
                        <br>
                    </div>Follow us</div>
            </div>
        </div><!--
     --><div id="fr_54760b777976d83acd00000f" class="fr-widget fr-container fr_tavoro">
        </div>
    </div>
    <div class="fr-copyright-footer">
        <div class="fr-widget fr-container">
            <div class="fr-widget fr-text fr-wf fr-made-with-froont">
                <a href="//froont.com" class="fr-text" target="_blank">
        MADE WITH <span class="heart">&hearts;</span> AND <b>FROONT</b>
      </a>
            </div>
        </div>
        <div class="fr-bottom-em-spacer"></div>
    </div>
    <div id="footer-assets">
    </div>
</body>

</html>
